<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name=".screens.Delivery" />
        <activity android:name=".screens.payment.screensPayment.Pix" />
        <activity android:name=".screens.payment.screensPayment.Boleto" />
        <activity android:name=".screens.payment.screensPayment.Card" />
        <activity android:name=".screens.Products" />
        <activity android:name=".screens.Bagage" />
        <activity android:name=".screens.SplashScreen" />
        <activity android:name=".screens.payment.SelectPayment" />
        <activity android:name=".screens.Home" />
        <activity android:name=".Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>